header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    display: flex;
    align-items: center;
}
.logo object {
    position: relative;
    left: 20px;
}