.filters {
    background: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.filters button {
    background-color: #FF5A5F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    height: 48px;
    width: 20%;
    margin-right: 30px;
    margin-left: auto;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filters button:hover {
    opacity: 90%;
}

.filters .locations, 
.filters .amenities {
    height: 100%;
    width: 25%;
    position: relative;
    z-index: 1;
}

.filters .locations h3,
.filters .amenities h3 {
  font-weight: 600;
  margin: 0;
  padding: 17px 30px 0 30px;
}

.filters .locations h4,
.filters .amenities h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
  padding-left: 30px;
}

.filters .locations:hover,
.filters .amenities:hover {
    background-color: #fafafa;
}

.filters .popover {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
    position: absolute;
    width: 100%;
    padding-left: 20px;
}

.filters .locations .popover h2 {
    font-size: 16px;
    margin: 0;
    padding: 10px 0px 0px 30px;
}

.filters ul {
    list-style: none;
    margin: 0;
}
  
.popover li {
    margin: 12px;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}

